@foreach (var produto in Produtos)
{
    <div class="col-md-3 mb-2">
        <a href="/ProdutoDetalhes/@produto.Id">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@produto.Imagem" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mb-3">@produto.Nome</h5>
                    <p class="card-text">@produto.Preco.ToString("c")</p>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }
}
